body, html{
    width: 960px;
    margin: 0 auto;
}

#addInput{
    margin-top: 100px;
}

img{
    width: 150px;
    height: 100px;
    display: inline-block;
}
#img{
    width: 550px;
    height: 350px;
}

form input{
    display: block;
    margin-top: 20px ;
}

.prev, .next{
	
	width: 50px;
	height: 20px;
	cursor: pointer;
	margin-top: 130px;
	float: left;
}

.prev{
	
	z-index: 100;
	margin-right: -45px;
	position: relative;
}
.next{
	
	z-index: 100;
	margin-left: -45px;
	position: relative;
}

.slider-inner{
	
	width: 500px;
	height: 300px;
	position: relative;
	overflow: hidden;
	float: left;
	padding: 3px;
	border: 1px solid #666;
}
.slider-inner img{
	
	display: none;
	width: 500px;
	height: 300px;
}
.slider-inner img.active{
	
	display: inline-block;
	
}
